.container{
    margin-bottom: 100px;
}
.orang-bg{
    background-color: #fceae8;
    border-radius: 15px;
}

.carousel-item{
    padding: 20px 20px;
}

.price{
    color: #FF136F;
}

.buy-now-button{
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    color: #ffff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}

.wat1{
    background-color: orange;
    padding: 15px 30px;
    border-radius: 15px;
}
.bag2{
    background-color: pink;
    padding: 15px 30px;
    border-radius: 15px;
}
.sho3{
    background-color: blue;
    padding: 15px 30px;
    border-radius: 15px;
}

.categories h1{
    color: white;
}

.categories img{
    width: 100px;
}
.card{
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 10px lightgray;
}

.card-footer{
    background-color: white;
    border-top: none;
}

#contact{
    height: 300px;
}

footer{
    text-align: center;
}